In [1]:
import numpy as np
import pandas as pd

In [2]:
disbursment_path = "All disbursements details report.xlsx"

In [3]:
disbursment_df = pd.read_excel(disbursment_path)

In [4]:
disbursment_df

,LOAN ID,INTEREST RATE,LOAN STATUS,APPROVED AMOUNT,REPAID AMOUNT,DISBURSEMENT AMOUNT,EMI 1 AMOUNT,UTR,EMI 1 DUE DATE,EMI 1 PENALTY,...,EMI 3 INTEREST,FULL PAY AMOUNT,FULL PAY PRINCIPAL,FULL PAY INTEREST,EMI 1 REPAY DATE,EMI 2 REPAY DATE,EMI 3 REPAY DATE,FULL REPAY DATE,LOAN DISBURSEMENT DATE,USER ID
0,179336,0.250,Complete,29040.0,16379.00,27278.00,16379.0,309125083393,26-04-2023,0.00,...,NaN,0.00,0,0.00,02-05-2023,24-07-2023,NaN,NaN,01-04-2023,8a91a101-aa62-409d-bdd4-9298ad502b5a
1,180541,0.350,Complete,50000.0,84564.20,45265.00,29038.0,309226063049,29-04-2023,0.00,...,NaN,26948.20,0,26948.20,29-04-2023,11-05-2023,NaN,11-05-2023,02-04-2023,4ff43165-bf4c-49df-ab24-2ff5d0fd3d66
2,180738,0.250,Complete,14520.0,23177.02,12924.98,9244.0,309128042970,07-05-2023,0.00,...,NaN,6801.02,0,6801.02,07-05-2023,18-05-2023,NaN,18-05-2023,01-04-2023,7a8e5b91-ee6e-474d-9c95-2224d801da96
3,180863,0.250,Complete,15125.0,24857.00,13476.44,8062.0,309528078222,01-05-2023,0.00,...,NaN,8084.00,0,8084.00,01-05-2023,01-05-2023,NaN,01-05-2023,05-04-2023,d6bb4ee8-ce4e-4fb9-ad02-7720053a3c62
4,180959,0.350,Complete,23958.0,39836.44,21527.72,14578.0,309127074131,01-05-2023,0.00,...,NaN,11979.44,0,11979.44,01-05-2023,01-05-2023,NaN,01-05-2023,01-04-2023,dffd36bb-21e5-4048-b572-4a1ccf96437e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25992,480572,0.375,Active,10000.0,335.69,8398.52,0.0,318123426845,01-08-2023,335.69,...,NaN,0.00,0,0.00,08-08-2023,NaN,NaN,NaN,30-06-2023,11b0766f-4f31-4145-bebc-53044fdfed79
25993,480587,0.375,Active,42000.0,5934.00,37158.00,0.0,318123441968,31-07-2023,5934.00,...,NaN,0.00,0,0.00,30-08-2023,NaN,NaN,NaN,30-06-2023,1768721c-8e2e-4616-8a4f-f3579bca787d
25994,480591,0.225,Complete,20000.0,22161.00,17414.12,11798.0,318123436734,01-08-2023,0.00,...,NaN,0.00,0,0.00,01-08-2023,31-08-2023,NaN,NaN,30-06-2023,73e45a14-2dee-4dd3-902f-d48b32b63eb3
25995,480593,0.275,Complete,20500.0,33767.00,17841.87,11307.0,318123436682,27-07-2023,0.00,...,NaN,10771.00,0,10771.00,26-07-2023,26-07-2023,NaN,26-07-2023,30-06-2023,3d14aedc-c416-4edd-a169-bc8f94980470
25996,480595,0.375,Complete,12000.0,20606.74,10178.44,7535.0,318123441991,31-07-2023,0.00,...,NaN,6480.74,0,6480.74,31-07-2023,26-08-2023,NaN,26-08-2023,30-06-2023,5b0c968c-9bae-4d17-8def-97a7edc4a3ec

In [5]:
disbursment_df.columns

Index(['LOAN ID', 'INTEREST RATE', 'LOAN STATUS', 'APPROVED AMOUNT',
       'REPAID AMOUNT', 'DISBURSEMENT AMOUNT', 'EMI 1 AMOUNT', 'UTR',
       'EMI 1 DUE DATE', 'EMI 1 PENALTY', 'EMI 1 PRINCIPAL', 'EMI 1 INTEREST',
       'EMI 2 AMOUNT', 'EMI 2 DUE DATE', 'EMI 2 PENALTY', 'EMI 2 PRINCIPAL',
       'EMI 2 INTEREST', 'EMI 3 AMOUNT', 'EMI 3 DUE DATE', 'EMI 3 PENALTY',
       'EMI 3 PRINCIPAL', 'EMI 3 INTEREST', 'FULL PAY AMOUNT',
       'FULL PAY PRINCIPAL', 'FULL PAY INTEREST', 'EMI 1 REPAY DATE',
       'EMI 2 REPAY DATE', 'EMI 3 REPAY DATE', 'FULL REPAY DATE',
       'LOAN DISBURSEMENT DATE', 'USER ID'],
      dtype='object')

In [6]:
emi_repay_path = "reports_1693990985821.xlsx"

In [7]:
emi_repay_df = pd.read_excel(emi_repay_path)

In [8]:
emi_repay_df

,Loan Id,User Id,Emi Date,Status,Expected Due Amount,Expected Principal,Expected Interest,Expected Penalty,Total Paid Amount,Total Paid Principal,Total Paid Interest,Total Paid Penalty,Penalty Days
0,615,a1fd2860-252c-435d-bc95-1ed3f65ef6e2,29-04-2023,UNPAID,110,50.0,50.0,10,12.32,10.0,2.32,0.0,130
1,141216,1f7b19da-34f8-4bd7-96f1-8a15fec3ef98,01-04-2023,PREPAID,8593,7440.0,1153.0,0,8593.00,7440.0,1153.00,0.0,0
2,141151,8f2ff5e8-b0b2-49ce-9d6b-49a86a9f854f,01-04-2023,PREPAID,4710,4133.0,577.0,0,4133.00,4133.0,0.00,0.0,0
3,141262,6016a98f-9d34-4e6d-9055-2e18f6898291,01-04-2023,PREPAID,4646,4133.0,513.0,0,4133.00,4133.0,0.00,0.0,0
4,140469,a1972054-b67e-4f17-8c45-5ec237c8f8fd,01-04-2023,PREPAID,5968,5167.0,801.0,0,5296.18,5167.0,129.18,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94431,546397,0902091e-00ad-45c4-a079-e40fb53c5b7e,05-09-2023,PREPAID,13485,12000.0,1485.0,0,13485.00,12000.0,1485.00,0.0,0
94432,546173,0dbe7b5d-c152-48eb-a41b-8fbb8a915230,04-09-2023,ONTIME,10733,9333.0,1400.0,0,10733.00,9333.0,1400.00,0.0,0
94433,543491,c3aef26c-e42f-43a2-8fc0-6735b8aeb3d7,05-09-2023,ONTIME,2287,1867.0,420.0,0,2287.00,1867.0,420.00,0.0,0
94434,546565,4efed56f-2192-4abd-ae1a-eaa4cb5bd0fd,05-09-2023,ONTIME,11258,9333.0,1925.0,0,11258.00,9333.0,1925.00,0.0,0
94435,546221,41eb19b0-2497-4ac4-8ba9-4671ee51233d,05-09-2023,PREPAID,2427,1867.0,560.0,0,2427.00,1867.0,560.00,0.0,0

In [9]:
emi_repay_df.columns

Index(['Loan Id', 'User Id', 'Emi Date', 'Status', 'Expected Due Amount',
       'Expected Principal', 'Expected Interest', 'Expected Penalty',
       'Total Paid Amount', 'Total Paid Principal', 'Total Paid Interest',
       'Total Paid Penalty', 'Penalty Days'],
      dtype='object')

In [10]:
# Merge the DataFrames on 'Loan ID'/'Loan Id'
merged_df = pd.merge(disbursment_df, emi_repay_df, left_on='LOAN ID', right_on='Loan Id', how='inner')

In [11]:
merged_df

,LOAN ID,INTEREST RATE,LOAN STATUS,APPROVED AMOUNT,REPAID AMOUNT,DISBURSEMENT AMOUNT,EMI 1 AMOUNT,UTR,EMI 1 DUE DATE,EMI 1 PENALTY,...,Status,Expected Due Amount,Expected Principal,Expected Interest,Expected Penalty,Total Paid Amount,Total Paid Principal,Total Paid Interest,Total Paid Penalty,Penalty Days
0,179336,0.250,Complete,29040.0,16379.00,27278.00,16379.0,309125083393,26-04-2023,0.0,...,POSTPAID,16379,14274.0,2105.0,0,16870.00,14765.0,2105.00,0.0,6
1,179336,0.250,Complete,29040.0,16379.00,27278.00,16379.0,309125083393,26-04-2023,0.0,...,POSTPAID,15873,14766.0,1107.0,0,15870.00,14272.0,1107.00,491.0,60
2,180541,0.350,Complete,50000.0,84564.20,45265.00,29038.0,309226063049,29-04-2023,0.0,...,ONTIME,29038,24138.0,4900.0,0,29038.00,24138.0,4900.00,0.0,0
3,180541,0.350,Complete,50000.0,84564.20,45265.00,29038.0,309226063049,29-04-2023,0.0,...,PREPAID,28578,25862.0,2716.0,0,26948.20,25862.0,1086.20,0.0,0
4,180738,0.250,Complete,14520.0,23177.02,12924.98,9244.0,309128042970,07-05-2023,0.0,...,ONTIME,9244,7901.0,1343.0,0,9244.00,7901.0,1343.00,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52143,480591,0.225,Complete,20000.0,22161.00,17414.12,11798.0,318123436734,01-08-2023,0.0,...,PREPAID,10364,9688.0,676.0,0,10363.00,9687.0,676.00,0.0,0
52144,480593,0.275,Complete,20500.0,33767.00,17841.87,11307.0,318123436682,27-07-2023,0.0,...,PREPAID,11308,9729.0,1579.0,0,11251.13,9729.0,1522.13,0.0,0
52145,480593,0.275,Complete,20500.0,33767.00,17841.87,11307.0,318123436682,27-07-2023,0.0,...,PREPAID,11689,10771.0,918.0,0,10771.00,10771.0,0.00,0.0,0
52146,480595,0.375,Complete,12000.0,20606.74,10178.44,7535.0,318123441991,31-07-2023,0.0,...,ONTIME,7535,6095.0,1440.0,0,7535.00,6095.0,1440.00,0.0,0
52147,480595,0.375,Complete,12000.0,20606.74,10178.44,7535.0,318123441991,31-07-2023,0.0,...,PREPAID,6591,5905.0,686.0,0,6480.74,5905.0,575.74,0.0,0

In [12]:
# Check for duplicate loan IDs in merged_df
duplicate_count = merged_df['Loan Id'].duplicated().sum()

# Print the count of duplicate loan IDs
print("Number of duplicate Loan IDs:", duplicate_count)

Number of duplicate Loan IDs: 26151

In [13]:
merged_df.columns

Index(['LOAN ID', 'INTEREST RATE', 'LOAN STATUS', 'APPROVED AMOUNT',
       'REPAID AMOUNT', 'DISBURSEMENT AMOUNT', 'EMI 1 AMOUNT', 'UTR',
       'EMI 1 DUE DATE', 'EMI 1 PENALTY', 'EMI 1 PRINCIPAL', 'EMI 1 INTEREST',
       'EMI 2 AMOUNT', 'EMI 2 DUE DATE', 'EMI 2 PENALTY', 'EMI 2 PRINCIPAL',
       'EMI 2 INTEREST', 'EMI 3 AMOUNT', 'EMI 3 DUE DATE', 'EMI 3 PENALTY',
       'EMI 3 PRINCIPAL', 'EMI 3 INTEREST', 'FULL PAY AMOUNT',
       'FULL PAY PRINCIPAL', 'FULL PAY INTEREST', 'EMI 1 REPAY DATE',
       'EMI 2 REPAY DATE', 'EMI 3 REPAY DATE', 'FULL REPAY DATE',
       'LOAN DISBURSEMENT DATE', 'USER ID', 'Loan Id', 'User Id', 'Emi Date',
       'Status', 'Expected Due Amount', 'Expected Principal',
       'Expected Interest', 'Expected Penalty', 'Total Paid Amount',
       'Total Paid Principal', 'Total Paid Interest', 'Total Paid Penalty',
       'Penalty Days'],
      dtype='object')

In [14]:
# Get unique values in the 'Status' column
unique_statuses = merged_df['Status'].unique()

# Print the unique statuses
print("Unique Statuses:", unique_statuses)

Unique Statuses: ['POSTPAID' 'ONTIME' 'PREPAID' 'UNPAID']

In [18]:
# Replace 'POSTPAID' with 'Delay' and 'UNPAID' with 'Default' in the 'Status' column
#merged_df['Status'].replace({'POSTPAID': 'Delay', 'UNPAID': 'Default'}, inplace=True)

In [24]:
merged_df['Status'].replace({'ONTIME': 'Ontime', 'PREPAID' : 'Prepaid', 'DELAY': 'Delay','DEFAULT': 'Default' }, inplace=True)

In [33]:
merged_df.head(5)

,LOAN ID,INTEREST RATE,LOAN STATUS,APPROVED AMOUNT,REPAID AMOUNT,DISBURSEMENT AMOUNT,EMI 1 AMOUNT,UTR,EMI 1 DUE DATE,EMI 1 PENALTY,...,Status,Expected Due Amount,Expected Principal,Expected Interest,Expected Penalty,Total Paid Amount,Total Paid Principal,Total Paid Interest,Total Paid Penalty,Penalty Days
0,179336,0.25,Complete,29040.0,16379.00,27278.00,16379.0,309125083393,26-04-2023,0.0,...,Delay,16379,14274.0,2105.0,0,16870.0,14765.0,2105.0,0.0,6
1,179336,0.25,Complete,29040.0,16379.00,27278.00,16379.0,309125083393,26-04-2023,0.0,...,Delay,15873,14766.0,1107.0,0,15870.0,14272.0,1107.0,491.0,60
2,180541,0.35,Complete,50000.0,84564.20,45265.00,29038.0,309226063049,29-04-2023,0.0,...,Ontime,29038,24138.0,4900.0,0,29038.0,24138.0,4900.0,0.0,0
3,180541,0.35,Complete,50000.0,84564.20,45265.00,29038.0,309226063049,29-04-2023,0.0,...,Prepaid,28578,25862.0,2716.0,0,26948.2,25862.0,1086.2,0.0,0
4,180738,0.25,Complete,14520.0,23177.02,12924.98,9244.0,309128042970,07-05-2023,0.0,...,Ontime,9244,7901.0,1343.0,0,9244.0,7901.0,1343.0,0.0,0

In [34]:
merged_df.to_csv('complete.csv')

In [26]:
def func(A):
    b = 'prepaid'
    for i in A:
        if i == 'Default':
            b = 'Default'
        if b != 'Default' and i == 'Delay':
            b = 'Delay'
        if b != 'Default' and i != 'Delay' and i == 'Ontime':
            b = 'Ontime'
    return b

# Group by 'LOAN ID' and apply the function to each group
result = merged_df.groupby('LOAN ID')['Status'].apply(func).reset_index()

# Rename the columns in the result DataFrame
result.columns = ['LOAN ID', 'Repayment Status']

# Display the result
result

       LOAN ID Repayment Status
0       179336            Delay
1       180541           Ontime
2       180738           Ontime
3       180863           Ontime
4       180959           Ontime
...        ...              ...
25992   480572          Default
25993   480587          Default
25994   480591           Ontime
25995   480593          prepaid
25996   480595           Ontime

[25997 rows x 2 columns]

In [27]:
# Check for duplicate loan IDs in merged_df
duplicate_count = result['LOAN ID'].duplicated().sum()

# Print the count of duplicate loan IDs
print("Number of duplicate Loan IDs:", duplicate_count)

Number of duplicate Loan IDs: 0

In [28]:
result.head(20)

    LOAN ID Repayment Status
0    179336            Delay
1    180541           Ontime
2    180738           Ontime
3    180863           Ontime
4    180959           Ontime
5    181165           Ontime
6    181230            Delay
7    181376          prepaid
8    181495          prepaid
9    181522          prepaid
10   181561           Ontime
11   181565          prepaid
12   181610          Default
13   181627          prepaid
14   181725           Ontime
15   181927           Ontime
16   181946           Ontime
17   182142          Default
18   182345            Delay
19   184464          prepaid

In [31]:
result.to_csv('actual_repayment.csv')